@import './keyframes.css';

.shadow-drop-center {
  -webkit-animation: shadow-drop-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
  animation: shadow-drop-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

.heartbeat {
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
  animation: slide-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.5s steps(2, end) infinite both;
  animation: bounce-in-top 1.5s steps(2, end) infinite both;
}

/* * {
  transition: background-color 0.3s linear;
} */

/* main {
  animation: page 1s linear;
} */

/* #brand:hover .brand-img {
  animation: bounce 1s;
} */