@import './animations.css';
@import './chakraCustom.css';

html {
  touch-action: none;
}

html[lang="vi"] body {
  line-height: var(--chakra-lineHeights-tall);
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

#__next {
  overflow: hidden;
}

.chakra-breadcrumb::-webkit-scrollbar {
  width: 0px;
}