@import './fonts.css';
@import './animations.css';
@import './chakraCustom.css';

html {
  touch-action: none;
  scroll-behavior: smooth;
}

html[lang="vi"] body {
  line-height: var(--chakra-lineHeights-tall);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  /* background-color: var(--chakra-colors-second); */
  background-color: grey;
}

#__next {
  overflow: hidden;
}